In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('filter1.xlsx')

In [3]:
df['Surplas'] = np.select([df['Quantity_of_people'] > 2, df['Quantity_of_people'] <= 2], [df['Quantity_of_people'] * 21 + 10, df['Quantity_of_people'] * 21])
df['Surplas'] = df['Meters'] - df['Surplas']

In [4]:
df.loc[df['Surplas'] <= 0 , 'Surplas'] = 0
df

,Adress,Tenant,Quantity_of_people,Meters,Privileges,Year_of_registration,Surplas
0,Gogol_3_2,Ponomarov VD,3,65,yes,1976,0
1,Gogol_3_3,Ponomarov AD,7,167,yes,1976,10
2,Gogol_3_4,Ulanova TI,5,67,no,2009,0
3,Gogol_3_5,Budanova AI,7,189,no,2009,32
4,Gogol_3_6,Komarov II,2,100,no,2007,58
5,Gogol_3_7,Komarov DP,5,134,no,2007,19
6,Grecheskaya_1_45,Abramyan LL,6,234,no,2015,98
7,Korolova_2_56,Ivanov II,3,145,no,1987,72
8,Korolova_2_57,Ivanov PI,3,89,no,1987,16
9,Korolova_2_58,Shatrov IV,6,67,yes,1987,0
10,Korolova_2_59,Petrov MM,2,34,yes,1987,0
11,Korolova_2_60,Sidorov VK,8,89,yes,1987,0
12,Korolova_2_61,Sidorchyk KM,5,56,yes,1987,0
13,Malaya Arnautskaya_23_6,Kogan MG,1,47,no,1954,26
14,Malaya Arnautskaya_23_7,Polyakova MO,1,56,no,1954,35

In [5]:
# task 1
dt1 = df.loc[df['Privileges'] == 'yes']
dt1

,Adress,Tenant,Quantity_of_people,Meters,Privileges,Year_of_registration,Surplas
0,Gogol_3_2,Ponomarov VD,3,65,yes,1976,0
1,Gogol_3_3,Ponomarov AD,7,167,yes,1976,10
9,Korolova_2_58,Shatrov IV,6,67,yes,1987,0
10,Korolova_2_59,Petrov MM,2,34,yes,1987,0
11,Korolova_2_60,Sidorov VK,8,89,yes,1987,0
12,Korolova_2_61,Sidorchyk KM,5,56,yes,1987,0

In [6]:
#task 2
dt2 = dt1.loc[dt1['Surplas'] == 0]
dt2

,Adress,Tenant,Quantity_of_people,Meters,Privileges,Year_of_registration,Surplas
0,Gogol_3_2,Ponomarov VD,3,65,yes,1976,0
9,Korolova_2_58,Shatrov IV,6,67,yes,1987,0
10,Korolova_2_59,Petrov MM,2,34,yes,1987,0
11,Korolova_2_60,Sidorov VK,8,89,yes,1987,0
12,Korolova_2_61,Sidorchyk KM,5,56,yes,1987,0

In [7]:
#task 3
dt3 = df.loc[df['Meters'] > 100]
dt3

,Adress,Tenant,Quantity_of_people,Meters,Privileges,Year_of_registration,Surplas
1,Gogol_3_3,Ponomarov AD,7,167,yes,1976,10
3,Gogol_3_5,Budanova AI,7,189,no,2009,32
5,Gogol_3_7,Komarov DP,5,134,no,2007,19
6,Grecheskaya_1_45,Abramyan LL,6,234,no,2015,98
7,Korolova_2_56,Ivanov II,3,145,no,1987,72

In [8]:
#task 4
dt4 = df.loc[df['Year_of_registration'] >= 1970]
dt4_res = dt4.loc[dt4['Year_of_registration'] <= 1990]
dt4_res

,Adress,Tenant,Quantity_of_people,Meters,Privileges,Year_of_registration,Surplas
0,Gogol_3_2,Ponomarov VD,3,65,yes,1976,0
1,Gogol_3_3,Ponomarov AD,7,167,yes,1976,10
7,Korolova_2_56,Ivanov II,3,145,no,1987,72
8,Korolova_2_57,Ivanov PI,3,89,no,1987,16
9,Korolova_2_58,Shatrov IV,6,67,yes,1987,0
10,Korolova_2_59,Petrov MM,2,34,yes,1987,0
11,Korolova_2_60,Sidorov VK,8,89,yes,1987,0
12,Korolova_2_61,Sidorchyk KM,5,56,yes,1987,0

In [9]:
#task 5
dt5 = dt1.loc[dt1['Year_of_registration'] > 1980]
dt5

,Adress,Tenant,Quantity_of_people,Meters,Privileges,Year_of_registration,Surplas
9,Korolova_2_58,Shatrov IV,6,67,yes,1987,0
10,Korolova_2_59,Petrov MM,2,34,yes,1987,0
11,Korolova_2_60,Sidorov VK,8,89,yes,1987,0
12,Korolova_2_61,Sidorchyk KM,5,56,yes,1987,0

In [10]:
#task 6
dt6_first_cond = dt1.loc[dt1['Surplas'] != ' ']
dt6_second_cond = df.loc[(df['Meters'] < 100) & (df['Year_of_registration'] < 1977)]
result = pd.concat([dt6_first_cond, dt6_second_cond], join = 'outer')
result

,Adress,Tenant,Quantity_of_people,Meters,Privileges,Year_of_registration,Surplas
0,Gogol_3_2,Ponomarov VD,3,65,yes,1976,0
1,Gogol_3_3,Ponomarov AD,7,167,yes,1976,10
9,Korolova_2_58,Shatrov IV,6,67,yes,1987,0
10,Korolova_2_59,Petrov MM,2,34,yes,1987,0
11,Korolova_2_60,Sidorov VK,8,89,yes,1987,0
12,Korolova_2_61,Sidorchyk KM,5,56,yes,1987,0
0,Gogol_3_2,Ponomarov VD,3,65,yes,1976,0
13,Malaya Arnautskaya_23_6,Kogan MG,1,47,no,1954,26
14,Malaya Arnautskaya_23_7,Polyakova MO,1,56,no,1954,35

In [11]:
#task 7
dt7_first_cond = df.loc[(df['Privileges'] == 'no') & (df['Surplas'] > 50)]
dt7_second_cond = dt3.loc[(dt3['Year_of_registration'] >= 1970) & (dt3['Year_of_registration'] <= 1990)]
dt7_res = pd.concat([dt7_first_cond, dt7_second_cond], join = 'outer')
dt7_res

,Adress,Tenant,Quantity_of_people,Meters,Privileges,Year_of_registration,Surplas
4,Gogol_3_6,Komarov II,2,100,no,2007,58
6,Grecheskaya_1_45,Abramyan LL,6,234,no,2015,98
7,Korolova_2_56,Ivanov II,3,145,no,1987,72
1,Gogol_3_3,Ponomarov AD,7,167,yes,1976,10
7,Korolova_2_56,Ivanov II,3,145,no,1987,72

In [12]:
#task 3
dt3 = df.loc[df['Meters'] > 100]
dt3

,Adress,Tenant,Quantity_of_people,Meters,Privileges,Year_of_registration,Surplas
1,Gogol_3_3,Ponomarov AD,7,167,yes,1976,10
3,Gogol_3_5,Budanova AI,7,189,no,2009,32
5,Gogol_3_7,Komarov DP,5,134,no,2007,19
6,Grecheskaya_1_45,Abramyan LL,6,234,no,2015,98
7,Korolova_2_56,Ivanov II,3,145,no,1987,72

In [13]:
#task 4
dt4 = df.loc[df['Year_of_registration'] >= 1970]
dt4_res = dt4.loc[dt4['Year_of_registration'] <= 1990]
dt4_res

,Adress,Tenant,Quantity_of_people,Meters,Privileges,Year_of_registration,Surplas
0,Gogol_3_2,Ponomarov VD,3,65,yes,1976,0
1,Gogol_3_3,Ponomarov AD,7,167,yes,1976,10
7,Korolova_2_56,Ivanov II,3,145,no,1987,72
8,Korolova_2_57,Ivanov PI,3,89,no,1987,16
9,Korolova_2_58,Shatrov IV,6,67,yes,1987,0
10,Korolova_2_59,Petrov MM,2,34,yes,1987,0
11,Korolova_2_60,Sidorov VK,8,89,yes,1987,0
12,Korolova_2_61,Sidorchyk KM,5,56,yes,1987,0

In [14]:
#task 5
dt5 = dt1.loc[dt1['Year_of_registration'] > 1980]
dt5

,Adress,Tenant,Quantity_of_people,Meters,Privileges,Year_of_registration,Surplas
9,Korolova_2_58,Shatrov IV,6,67,yes,1987,0
10,Korolova_2_59,Petrov MM,2,34,yes,1987,0
11,Korolova_2_60,Sidorov VK,8,89,yes,1987,0
12,Korolova_2_61,Sidorchyk KM,5,56,yes,1987,0