In [16]:
import pandas as pd
import seaborn as sns
import numpy as np
sns.set()

In [26]:
df = pd.read_excel('filter1.xlsx')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Adress                15 non-null     object
 1   Tenant                15 non-null     object
 2   Quantity_of_people    15 non-null     int64
 3   Meters                15 non-null     int64
 4   Privileges            15 non-null     object
 5   Year_of_registration  15 non-null     int64
dtypes: int64(3), object(3)
memory usage: 848.0+ bytes

In [41]:
df['Surplas'] = np.select([df['Quantity_of_people'] > 2, df['Quantity_of_people'] <= 2], [df['Quantity_of_people'] * 21 + 10, df['Quantity_of_people'] * 21])
df['Surplas'] = df['Meters'] - df['Surplas']
df

,Adress,Tenant,Quantity_of_people,Meters,Privileges,Year_of_registration,Surplas
0,Gogol_3_2,Ponomarov VD,3,65,yes,1976,-8
1,Gogol_3_3,Ponomarov AD,7,167,yes,1976,10
2,Gogol_3_4,Ulanova TI,5,67,no,2009,-48
3,Gogol_3_5,Budanova AI,7,189,no,2009,32
4,Gogol_3_6,Komarov II,2,100,no,2007,58
5,Gogol_3_7,Komarov DP,5,134,no,2007,19
6,Grecheskaya_1_45,Abramyan LL,6,234,no,2015,98
7,Korolova_2_56,Ivanov II,3,145,no,1987,72
8,Korolova_2_57,Ivanov PI,3,89,no,1987,16
9,Korolova_2_58,Shatrov IV,6,67,yes,1987,-69
10,Korolova_2_59,Petrov MM,2,34,yes,1987,-8
11,Korolova_2_60,Sidorov VK,8,89,yes,1987,-89
12,Korolova_2_61,Sidorchyk KM,5,56,yes,1987,-59
13,Malaya Arnautskaya_23_6,Kogan MG,1,47,no,1954,26
14,Malaya Arnautskaya_23_7,Polyakova MO,1,56,no,1954,35

In [47]:
df.loc[df['Surplas'] <= 0 , 'Surplas'] = 0
df

,Adress,Tenant,Quantity_of_people,Meters,Privileges,Year_of_registration,Surplas
0,Gogol_3_2,Ponomarov VD,3,65,yes,1976,0
1,Gogol_3_3,Ponomarov AD,7,167,yes,1976,10
2,Gogol_3_4,Ulanova TI,5,67,no,2009,0
3,Gogol_3_5,Budanova AI,7,189,no,2009,32
4,Gogol_3_6,Komarov II,2,100,no,2007,58
5,Gogol_3_7,Komarov DP,5,134,no,2007,19
6,Grecheskaya_1_45,Abramyan LL,6,234,no,2015,98
7,Korolova_2_56,Ivanov II,3,145,no,1987,72
8,Korolova_2_57,Ivanov PI,3,89,no,1987,16
9,Korolova_2_58,Shatrov IV,6,67,yes,1987,0
10,Korolova_2_59,Petrov MM,2,34,yes,1987,0
11,Korolova_2_60,Sidorov VK,8,89,yes,1987,0
12,Korolova_2_61,Sidorchyk KM,5,56,yes,1987,0
13,Malaya Arnautskaya_23_6,Kogan MG,1,47,no,1954,26
14,Malaya Arnautskaya_23_7,Polyakova MO,1,56,no,1954,35

In [18]:
# task 1
dt1 = df.loc[df['Privileges'] == 'yes']
dt1

,Adress,Tenant,Quantity_of_people,Meters,Privileges,Year_of_registration,Surplas
0,Gogol_3_2,Ponomarov VD,3,65,yes,1976,
1,Gogol_3_3,Ponomarov AD,7,167,yes,1976,
9,Korolova_2_58,Shatrov IV,6,67,yes,1987,
10,Korolova_2_59,Petrov MM,2,34,yes,1987,
11,Korolova_2_60,Sidorov VK,8,89,yes,1987,
12,Korolova_2_61,Sidorchyk KM,5,56,yes,1987,

In [ ]:
#task 2

In [ ]:
#task 3
dt3 = df.loc[df['Meters'] > 100]
dt3

In [ ]:
#task 4
dt4 = df.loc[df['Year_of_registration'] >= 1970]
dt4_res = dt4.loc[dt4['Year_of_registration'] <= 1990]
dt4_res

In [ ]:
#task 5
dt5 = dt1.loc[dt1['Year_of_registration'] > 1980]
dt5