In [1]:
import pandas as pd
import numpy as np

In [10]:
df_rand = pd.read_csv('2008_rand.csv')
df_airports = pd.read_csv('airports.csv')
df_airports

,iata,airport,city,state,country,lat,long
0,00M,Thigpen,Bay Springs,MS,USA,31.953765,-89.234505
1,00R,Livingston Municipal,Livingston,TX,USA,30.685861,-95.017928
2,00V,Meadow Lake,Colorado Springs,CO,USA,38.945749,-104.569893
3,01G,Perry-Warsaw,Perry,NY,USA,42.741347,-78.052081
4,01J,Hilliard Airpark,Hilliard,FL,USA,30.688012,-81.905944
...,...,...,...,...,...,...,...
3371,ZEF,Elkin Municipal,Elkin,NC,USA,36.280024,-80.786069
3372,ZER,Schuylkill Cty/Joe Zerbey,Pottsville,PA,USA,40.706449,-76.373147
3373,ZPH,Zephyrhills Municipal,Zephyrhills,FL,USA,28.228065,-82.155916
3374,ZUN,Black Rock,Zuni,NM,USA,35.083227,-108.791777
3375,ZZV,Zanesville Municipal,Zanesville,OH,USA,39.944458,-81.892105

In [4]:
#task 1

distance = df_rand['Distance']
#distance.mean()
#distance.max()
#distance.min()

In [5]:
#task 2
res2 = df_rand.loc[df_rand['Distance'] == distance.min()]
res2[['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'TailNum', 'Distance']]

        Year  Month  DayofMonth  DayOfWeek TailNum  Distance
454987  2008      8          10          7  N819CA        11

In [6]:
#task 3

tmp3 = df_rand.groupby('Month').size().sort_values(ascending=False)
print(f'{tmp3.index[0]} month - {tmp3.max()} amount of departures')

7 month - 44797 amount of departures

In [12]:
#task 4
df4 = df_rand[df_rand['Month'] == 12]
d = df4.groupby('Dest').size().sort_values(ascending=False)
tmp = d.index.values[0:5].tolist()
df_airports.index[df_airports['iata']].tolist()

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [77]:
#task 5
delay = df_rand['DepDelay']
res5 = df_rand.loc[df_rand['DepDelay'] == delay.max()]
#res5[['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepDelay', 'Dest']]
res5_airport = df_airports.loc[df_airports['iata'] == 'ORD']
res5_airport

,iata,airport,city,state,country,lat,long
2531,ORD,Chicago O'Hare International,Chicago,IL,USA,41.979595,-87.904464