In [1]:
import pandas as pd

In [ ]:
df_rand = pd.read_csv('2008_rand.csv')
df_airports = pd.read_csv('airports.csv')

In [8]:
#task 1

AirTime=df_rand['AirTime'] 
print(AirTime.mean()) 
print(AirTime.max()) 
print(AirTime.min())

104.15724850406588
1154.0
0.0

In [9]:
#task 2

res = df_rand.loc[df_rand['AirTime'] == AirTime.min()]
res[['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'TailNum', 'Distance']]

        Year  Month  DayofMonth  DayOfWeek TailNum  Distance
67057   2008      1           2          3  N581SW       269
119947  2008      9          26          5  N590JB       368
478851  2008      1           2          3  N581SW       269

In [10]:
#task 3

df4 = df_rand[['Dest', 'Year']]
m = df4.groupby('Dest').count().idxmax()
df5 = df_airports.filter(items = ['iata', 'airport'])
df5[df5.iata == list(m)[0]]

    iata                            airport
880  ATL  William B Hartsfield-Atlanta Intl

In [11]:
#task 4

df4 = df_rand[df_rand['Month'] == 6]
d = df4.groupby('Dest').size().sort_values(ascending=False)
tmp2 = d.index.values[0:3].tolist()
print(tmp2)
df_airports[df_airports['iata'] == 'ATL']
#df_airports[df_airports['iata'] == 'ORD']
#df_airports[df_airports['iata'] == 'DFW']

['ATL', 'ORD', 'DFW']

,iata,airport,city,state,country,lat,long
880,ATL,William B Hartsfield-Atlanta Intl,Atlanta,GA,USA,33.640444,-84.426944

In [13]:
#task 5

delay = df_rand['WeatherDelay']
res5 = df_rand.loc[df_rand['WeatherDelay'] == delay.max()]
res5[['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepDelay', 'Dest']]
#res5_airport = df_airports.loc[df_airports['iata'] == 'ORD']
#res5_airport

,iata,airport,city,state,country,lat,long
2531,ORD,Chicago O'Hare International,Chicago,IL,USA,41.979595,-87.904464